/* main > article > .section {
    max-width: 50em !important;
} */

.measure-wide {
    max-width: 50em !important;
}

/* .nested-img img {
    width: 100%;
    max-width: 100%;
    display: block;
} */